[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"

[packages]
src = {editable = true, path = "./"}
awscli = "*"
python_dotenv = "*"
numpy = "*"
pandas = "*"
pyarrow = "*"
boto3 = "*"
osc-ingest-tools = "*"
openpyxl = "*"
Pint = "*"
Pint-Pandas = "*"
pandas-profiling = "*"
openscm-units = "*"
grpcio-health-checking = "==1.62.1"
python-pachyderm = "*"
setuptools = "==69.2.0"
pillow = "==10.3.0"

[requires]
python_version = "3.9"
