iam-units>=2022.10.27
jupyterlab>=4.1.5
numpy==1.24.3
openpyxl>=3.1.2
openscm-units==0.5.2
osc-ingest-tools>=0.5.2
pandas>=2.2.1
Pint>=0.23
Pint-Pandas>=0.5
pre-commit>=3.7.0
pytest==7.3.2
python-dotenv>=1.0.0
setuptools>=65.7.0
sphinx<8,>=6
sphinx-autoapi>=2.0.1
sphinx-autodoc-typehints
sphinx-rtd-theme==1.3.0
SQLAlchemy>=2.0
tables>=3.8.0
trino==0.328.0
wheel>=0.43.0
xlrd==2.0.1
